@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

.logo {
  width: 84px;
}

nav {
  padding-top: 22px;
  padding-bottom: 22px;
  /* box-shadow: x y blur spread color */
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.container {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.heroImg {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 32px;
}

h1 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 39.6px */
}

p {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 17.6px */
}

.flex {
  display: flex;
  justify-content: space-between;
}

.event-block > img {
  width: 176px;
  height: 235px;
  object-fit: cover;
}

/* background-size: cover; */
